.blogRoot {
  flex-grow: 1;
}
.myForm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.myForm input {
  border: 2px solid var(--amethyst);
  border-radius: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.05rem;
}
.myForm input:focus {
  outline: none;

  border: 2px solid skyblue;
}

.myForm input.inputErr {
  border: 2px solid rgba(225, 10, 10, 0.66);
}

.myForm label {
  margin-left: 2px;
  font-size: 1.1rem;
}

.errDiv {
  color: rgba(225, 10, 10, 0.66);
  height: 25px;
  margin-left: 2px;
  font-family: "Ubuntu", "sans-serif";
  font-weight: 600;
}

.subButt {
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  width: 75%;
  height: 30px;
}

.titleTextEditorDiv {
  border: 1.5px solid slategray;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.titleTextEditorDiv > hr {
  width: 100%;
  padding: 0;
  margin: 0;
  height: 0px;
  border: 2px solid black;
}

.titleTextEditorDiv > h4 {
  text-align: center;
  font-size: 1.2rem;
}

.titleTextEditor {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
/* The actual input */
.titleTextEditor > div {
  width: 100%;
  height: 100%;
  /*  */
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  flex-grow: 1;
}

.blogCont {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 1px solid black;
  height: 350px;
}

.blogHeadDiv {
  height: 50px;
  text-align: center;
  border-bottom: 1px solid black;
  font-size: 1.2rem;
  position: relative;
}

.blogHeadDiv > div {
  margin-top: -20px;
}

.blogHeadDiv > div > div {
  height: 50px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.flexButt {
  display: flex;
}
