.profBod {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  color: whitesmoke;
}
.profBod > * {
  margin-right: auto;
  margin-left: auto;
}
.profPicCard {
  width: 90%;
  background-color: blue;
  height: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.profSpace {
  height: 50px;
}

.profDetails {
  width: 90%;
  background-color: violet;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
}

.profAvatar {
  height: 100px;
  width: 100px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 50px;
  overflow: hidden;
}
