.modalBack {
  position: absolute;
  background: rgba(0, 0, 0, 0.75);
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 25;
  cursor: default;
}

.modalBack > div {
  margin-top: 25px;
}

.modalFormBody {
  border-radius: 30px;
  width: clamp(225px, 66%, 850px);
  margin-top: 2.5%;
  height: 650px;
  margin-right: auto;
  margin-left: auto;
  background: rgba(255, 255, 255, 1);
  color: black;
  position: relative;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
}

.modalFormBody > h3 {
  text-align: center;
  font-size: 2rem;
  color: var(--amethyst);
  margin-top: 20px;
  margin-bottom: 10px;
}

.myForm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.myForm input {
  border: 2px solid var(--amethyst);
  border-radius: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.05rem;
}
.myForm input:focus {
  outline: none;

  border: 2px solid skyblue;
}

.myForm input.inputErr {
  border: 2px solid rgba(225, 10, 10, 0.66);
}

.myForm label {
  margin-left: 2px;
  font-size: 1.1rem;
}

.errDiv {
  color: rgba(225, 10, 10, 0.66);
  height: 25px;
  margin-left: 2px;
  font-family: "Ubuntu", "sans-serif";
  font-weight: 600;
}

.subButt {
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  width: 75%;
  height: 30px;
}
.forgotButt {
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  width: 75%;
  height: 40px;
}

.closeDiv {
  position: absolute;
  top: 5px;
  right: 20px;
  color: var(--paradise);
  font-size: 1.5rem;
}
