:root {
  --lavender: #e2cfea;
  --amethyst: #a06cd5;
  --plum: #e2cfea;
  --lightGreen: #7cea9c;
  --turquoise: #55d6be;
  --denim: #2e5eaa;
  --grape: #5b4e77;
  --violet: #593959;
  --darkTurq: #25ced1;
  --champagne: #fceade;
  --indigo: #134074;
  --paradise: #ea526f;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
