.actionButton {
  border: none;
  width: 100px;
  height: 35px;
  border-radius: 25px;
  background-color: var(--paradise);
  color: whitesmoke;
  cursor: pointer;
}
.nextImg {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.nextImgCont {
  position: relative;
}

.profAvatar {
  height: 100px;
  width: 100px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 50px;
  overflow: hidden;
}
